<!-- <div>
  <p>dashboard</p>
  {{answer}}
</div> -->
<!-- <md-content class="display-block"layout-align="center center"   layout-xs="column" layout="row" ng-repeat="spec in answer"> -->
<!-- <div flex-xs flex-gt-xs="70" layout="column"> -->
<div  ng-cloak>
  <!-- <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center" ng-repeat="spec in answer"> -->
  <md-content class="md-padding" >
    <!-- <div flex="30" flex-offset="15" layout="column" layout="row" display-block="inline-block"> -->
      <div flex-xs flex-gt-xs="30" layout="column" ng-repeat="spec in answer">
      <!-- <div flex-xs="20" flex-gt-xs="30" layout="column"> -->
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{spec.name}}</span>
            <span class="md-subhead"><b> Manufacturer :</b> {{spec.specs.manufacturer}}</span>
            <span class="md-subhead"><b> Storage :</b>Storage {{spec.specs.storage}}</span>
            <span class="md-subhead"><b> OS :</b>OS {{spec.specs.os}}</span>
            <span class="md-subhead"><b> Camera :</b>Camera {{spec.specs.camera}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img src="{{spec.image.small}}">
            </div>
          </md-card-title-media>
        </md-card-title>

        <md-card-actions layout="row">
          <p>
            ${{spec.price}}
          </p>
          <md-card-actions layout="row" layout-align="end center">
          <md-button>   Buy Now  </md-button>
          </md-card-actions>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
