<div style='padding-top:5%;' ng-cloak>
  <md-content class="md-padding" flex-offset="20">
    <span flex="30" flex-gt-xs="400"  ng-repeat="spec in answer|dynamicFilter:selectedManufracture:selectedStorage:selectedOS:selectedCamera">
  <md-card class="card_content" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" ng-click="showAdvanced($event,spec)">
    <md-card-title-media>
      <div class="md-media-lg card-media">
        <img src="{{spec.image.small}}">
      </div>
    </md-card-title-media>
  <md-card-title>

  <md-card-title-text>
    <span class="md-headline">{{spec.name}}</span>
    <span class="md-subhead"><b> Manufacturer :</b> {{spec.specs.manufacturer}}</span>
    <span class="md-subhead"><b> Storage :</b>{{spec.specs.storage}}</span>
    <span class="md-subhead"><b> OS :</b> {{spec.specs.os}}</span>
    <span class="md-subhead"><b> Camera :</b> {{spec.specs.camera}}</span>
    </md-card-title-text>

    </md-card-title>
    <md-card-actions layout="row">
      <p>
        ${{spec.price}}
      </p>
      <md-card-actions layout="row" layout-align="end center">
        <md-button> Buy Now </md-button>
      </md-card-actions>
    </md-card-actions>
    </md-card>
    </span>
  </md-content>
</div>
