<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Properties</h1>
  </md-toolbar>
  <div layout-margin flex-gt-sm="50">
    <md-content>
      Manufacturer
    </md-content>
    <!-- <md-checkbox ng-repeat="spec in answer| uniqueString:'manufacturer'" > -->
        <md-checkbox ng-repeat="spec in answer| uniqueString:'manufacturer'" ng-model="option.IsIncluded" ng-checked="option.IsIncluded" >
      {{ spec.specs.manufacturer }}
    </md-checkbox>
  </div>
  <div layout-margin flex-gt-sm="50">
    <md-content>
      Storage Size
    </md-content>
    <md-checkbox ng-repeat="spec in answer |  uniqueString:'storage'">
      {{ spec.specs.storage }}
    </md-checkbox>
  </div>
  <div layout-margin flex-gt-sm="50">
    <md-content>
      OS
    </md-content>
    <md-checkbox ng-repeat="spec in answer |  uniqueString:'os'">
      {{ spec.specs.os }}
    </md-checkbox>
  </div>
  <div layout-margin flex-gt-sm="50">
    <md-content>
      Camera
    </md-content>
    <md-checkbox ng-repeat="spec in answer |  uniqueString:'camera'">
      {{ spec.specs.camera }}
    </md-checkbox>
  </div>
  <md-content layout-margin>
    <md-button ng-click="toggleLeft()" class="md-accent">
      Close this Sidenav
    </md-button>
  </md-content>
</md-sidenav>
<div ng-repeat="filter in Filters">
        <h3 class="sort">{{filter.name}}</h3>
        <ul class="sortoptions">
          <li ng-repeat="option in filter.options">
            <input type="checkbox" ng-model="option.IsIncluded" ng-checked="option.IsIncluded"> {{option.value}}
            <span>({{option.count}})</span>
          </li>
        </ul>
      </div>
