<md-sidenav class="md-sidenav-left" md-component-id="open" md-disable-backdrop md-whiteframe="4" position="fixed" >

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Properties</h1>
  </md-toolbar>
  <!-- manufracture checkbox-->
  <div layout-margin flex-gt-sm="50">
    <md-content>
      Manufacturer
    </md-content>
    <div ng-repeat="spec in answer| uniqueString:'manufacturer'">
      <md-checkbox ng-click="SwitchFuction(spec.specs.manufacturer, selectedManufracture,'manufacturer')">
        {{ spec.specs.manufacturer }}
      </md-checkbox>
    </div>
  </div>
  <!-- Storage Size checkbox-->
  <div layout-margin flex-gt-sm="50">
    <md-content>
      Storage Size
    </md-content>
    <div ng-repeat="spec in answer| uniqueString:'storage'">
      <md-checkbox ng-click="SwitchFuction(spec.specs.storage, selectedStorage,'storage')">
        {{ spec.specs.storage }}
      </md-checkbox>
    </div>
  </div>
  <!-- OS checkbox-->
  <div layout-margin flex-gt-sm="50">
    <md-content>
      OS
    </md-content>
    <div ng-repeat="spec in answer| uniqueString:'os'">
      <md-checkbox ng-click="SwitchFuction(spec.specs.os, selectedOS,'os')">
        {{ spec.specs.os }}
      </md-checkbox>
    </div>
  </div>
  <!-- Camera checkbox -->
  <div layout-margin flex-gt-sm="50">
    <md-content>
      Camera
    </md-content>
    <div ng-repeat="spec in answer| uniqueString:'camera'">
      <md-checkbox ng-click="SwitchFuction(spec.specs.camera, selectedCamera,'camera')">
        {{ spec.specs.camera }}
      </md-checkbox>
    </div>
  </div>
  <!-- <md-content layout-margin>
    <md-button ng-click="toggleLeft()" class="md-accent">
      Close this Sidenav
    </md-button>
  </md-content> -->
  <!-- <div flex="100">
    <h2 class="md-title">Selected Items</h2>
    <code style="display: block; padding: 8px;">{{selectedManufracture | json}}</code>
    <code style="display: block; padding: 8px;">{{selectedStorage | json}}</code>
    <code style="display: block; padding: 8px;">{{selectedOS | json}}</code>
    <code style="display: block; padding: 8px;">{{selectedCamera| json}}</code>
  </div> -->
</md-sidenav>
