<!-- <div>

  <div layout="row">

    <div flex>First item in row</div>
    <div flex="20">Second item in row</div>

  </div>
  <div layout="column">

    <div flex="66">First item in column</div>
    <div flex="33">Second item in column</div>

  </div>

</div> -->
<!-- <div ng-controller="flexController">

  <div class="ng-scope layout-row">

    <div class="flex">First item in row</div>
    <div class="flex-20">Second item in row</div>

  </div>
  <div class="ng-scope layout-column">

    <div class="flex-33">First item in column</div>
    <div class="flex-66">Second item in column</div>

  </div>

</div> -->

   <!-- <body ng-app = "firstApplication"> -->
      <div ng-controller = "flexController"
         layout = "row" style = "height:100px;" ng-cloak layout-wrap>
         <div flex = "30" class = "green box">
            [flex = "30"]
         </div>

         <div flex = "45" class = "blue box">
            [flex = "45"]
         </div>

         <div flex = "25" class = "green box">
            [flex = "25"]
         </div>

         <div flex = "33" class = "green box">
            [flex = "33"]
         </div>

         <div flex = "66" class = "blue box">
            [flex = "66"]
         </div>

         <div flex = "50" class = "blue box">
            [flex = "50"]
         </div>

         <div flex class = "green box">
            [flex]
         </div>
      </div>
   <!-- </body> -->
