<!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>AngularJS JSON</title>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="controllers/JsonForm.js"></script>
</head>

<body ng-app="app" ng-controller="ctrl">
  <input type="text" ng-model="jsonFormatted.textField" placeholder="textField">
  <br>
  <input type="text" ng-model="jsonFormatted.textField2" placeholder="textField2">
  <br>
  <input type="text" ng-model="jsonFormatted.textField3" placeholder="textField3">
<a href="data:application/json;{{jsonFormatted}}" download="123.json" title="Download as JSON">donwload</a>
</body>

</html> -->
